{{ partial "header.html" . }}

<div class="container-flex main">
    <div class="col-md-3"></div>
    <div class="col-md-6 content">
    {{ .Content }}
        <h2 class="blog-header">Blog</h2>
        <div class="posts">
            {{ $baseurl := .Site.BaseURL }}
            {{ range $name, $page := .Site.Pages }}
            {{ if eq .Type "post" }}
            <span class="post-link">
                <p class="post-date">{{ $page.Date.Format "Jan 1" }}</p>
                <p class="post-title">{{ $page.Title }}</p>
                <p class="post-subtext">{{ $page.Summary }}</p>
            </span>
        </div>
        
    </div>
    <div class="col-md-3"></div>
</div>
